# Auto detect text files and perform LF normalization
* text=auto
Debug/* linguist-vendored
empty_project_template/* linguist-vendored
obj/* linguist-vendored
Raylib/* linguist-vendored
sandbox/* linguist-vendored
# test
